html, body {
   min-height: 100vh;
   font-family: 'Open Sans', sans-serif;
   letter-spacing: .1rem;
   margin: 0;
   padding: 0;
   text-align:center; 
}

h1 {
   padding-top: 1rem;
}

img {
   border-radius: 50%;
}

p {
   padding-top: .5rem;
}

span {
   font-size: 2rem;
}

a:link, a:visited, a:active {
   text-decoration: none;
   color: cadetblue;
   padding: .5rem;
   font-size: 20px;
}

li {
   text-align-last: center;
   font-size: 15px;

}

